  /* background-image: url("../../images/brooklyn.jpg"); */
  /* background-repeat: no-repeat; */
  /* background-position: center; */
  /* background-size: cover; */
  /* height: 37.5rem; */

* {
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: top;
  background-color: black;
}


.us img {
  max-width: 50%; /* Set the maximum width to 100% of the container */
  height: auto; /* Maintain the aspect ratio */
  display: block; /* Remove extra space below the image */
}

h1 {
  color: #795548;
  /* color: black; */
  /* color: white; */
  display: flex;
  justify-content: center;
  margin-top: 80px;
  font-size: 5rem;
}

.left p {
  color: #795548;
  /* color: white; */
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


header {
  background-color: bisque;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
}

header p {
  color: black;
  background-color: bisque;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 1rem;
}

nav a:visited {
  color: black;
}

nav li a {
  text-decoration: none;
  background-color: bisque;
}

.links {
  display: flex;
  background-color: bisque;
  justify-content: space-around;
  list-style: none;
  width: 30rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 1rem;
}


footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #ccc;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
  margin-top: auto;
  color: white;
}

@media (max-width: 600px) {
  header {
    flex-direction: column;
    align-items: center; 
  }

  .links {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center; 
  }
}